---
layout: legal.njk
title: Mentions Légales
---

<h1>Mentions Légales</h1>

<p>
    Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs de notre site internet les présentes mentions légales.
</p>

<p>
    Le site Monolithe rénovation est accessible à l'adresse suivante : <a href="https://monolitherenovation.netlify.app/" target="_blank">https://monolitherenovation.netlify.app/</a> (ci-après « le Site »).
</p>

<p>
    L'accès et l'utilisation du site sont soumis aux présentes « Mentions légales » détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.
</p>

<p>
    La connexion, l'utilisation et l'accès à ce site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.
</p>

<h2>Éditeur du site</h2>

<p>
    Le site <a href="https://monolitherenovation.netlify.app/" target="_blank">https://monolitherenovation.netlify.app/</a> est édité par la SASU MONOLITHE ENTREPRISE GENERALE, immatriculée au RCS de Toulouse sous le numéro 98928112600015, dont le siège social est situé au 61 CHEMIN DE FOURNAULIS, 31170 TOURNEFEUILLE.
</p>

<p>
    Adresse e-mail : gestion.monolithe@gmail.com  (ci-après "l'Éditeur")
</p>

<p>
    Le Directeur de publication est : V. BATTALOV (ci-après "le Directeur de publication")
</p>

<h2>Hébergeur</h2>

<p>
    Le site est hébergé par : Netlify, Inc.<br>
    Adresse : 2325 3rd Street, Suite 296, San Francisco, CA 94107, États-Unis<br>
    Site web : <a href="https://www.netlify.com" target="_blank">https://www.netlify.com</a><br>
    Téléphone : +1 844-899-7312 (ci-après "l'Hébergeur")
</p>

<h2>Utilisateurs</h2>

<p>
    Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site internet (ci-après les "Utilisateurs").
</p>

<h2>Accès au site</h2>

<p>
    Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.
</p>

<p>
    En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès.
</p>

<p>
    Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.
</p>

<h2>Protection des données personnelles</h2>

<p>
    Conformément aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment d'un droit d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification (art. 40) des données le concernant.
</p>

<p>
    Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant à l'adresse suivante : gestion.monolithe@gmail.com  ou par courrier adressé au siège social de l'Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.
</p>

<h2>Cookies</h2>

<p>
    Le site a éventuellement recours aux techniques de « cookies » lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'Utilisateur.
</p>

<p>
    Conformément à la législation européenne, le site a mis à jour sa politique de confidentialité en matière de cookies. L'Utilisateur est libre d'accepter ou de refuser les cookies de tous les sites internet en modifiant les paramètres de son navigateur internet.
</p>

<h2>Droit applicable et juridiction compétente</h2>

<p>
    Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.
</p>
